<div class="container">
  <h1>Collected Pokèmon</h1>
  <div *ngIf="pokemonData.length === 0">
    <p>You have not collected any Pokèmon yet! Visit the catalogue</p>
  </div>
  <div id="pokemonContainer">
    <app-pokemon-card
      *ngFor="let pokemon of pokemonData"
      [pokemon]="{ name: pokemon.name, image: pokemon.image }"
    >
    </app-pokemon-card>
  </div>
</div>
