<div class="container">
  <h1>{{ pokemonName }}</h1>
  <button type="button" (click)="addPokemonToCollection()">
    Add to collection
  </button>
  <div id="mainContainer">
    <div id="baseStats">
      <h2>Base stats</h2>
      <img
        [src]="[pokemonData.sprites.other['official-artwork'].front_default]"
        width="200px"
      />
      <br />
      <label for="typeList">Type:</label>
      <ul id="typeList" *ngFor="let type of pokemonData.types">
        <li>{{ type.type.name }}</li>
      </ul>
      <label for="stats">Stats:</label>
      <ul id="stats" *ngFor="let stat of pokemonData.stats">
        <li>{{ stat.stat.name }}: {{ stat.base_stat }}</li>
      </ul>
    </div>
    <div id="profile">
      <h2>Profile</h2>
      <p>Height: {{ pokemonData.height }}</p>
      <p>Weight: {{ pokemonData.weight }}</p>
      <p>Base experience: {{ pokemonData.base_experience }}</p>
      <label for="abilites">Abilities:</label>
      <ul id="abilities" *ngFor="let ability of pokemonData.abilities">
        <li>{{ ability.ability.name }}</li>
      </ul>
    </div>
    <div id="moves">
      <h2>Moves</h2>
      <ul *ngFor="let move of pokemonData.moves">
        <li>{{ move.move.name }}</li>
      </ul>
    </div>
  </div>
</div>
