#card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin: 3px;
  margin-left: 6px;
  margin-right: 6px;
  width: 8em;
  height: 11em;
  padding: 5px;
}

#card:hover {
  box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
