<div class="card" style="width: 13rem">
  <img class="card-img-top" [src]="pokemon.image" [alt]="pokemon.name" />
  <div class="card-body">
    <h5 class="card-title">{{ pokemon.name }}</h5>
    <a [routerLink]="['/pokemon/' + pokemon.name]" class="btn btn-primary"
      >More info</a
    >
  </div>
</div>
