<div class="container">
  <h1>Pokémon login</h1>
  <form>
    <div>
      <label for="name">Trainer name</label>
      <input
        type="text"
        name="name"
        id="name"
        placeholder="Enter your trainer name"
        [(ngModel)]="trainerName"
      />
    </div>
    <button
      type="button"
      (click)="onLoginClicked()"
      [routerLink]="['/dashboard']"
    >
      Login
    </button>
  </form>
</div>
