<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img src="../../../assets/logo.png" width="60px" />
  <a class="navbar-brand">Pokèmon</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/dashboard">Trainer page</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/catalogue">Catalogue</a>
      </li>
    </ul>
  </div>
  <div class="nav navbar-nav navbar-right" *ngIf="isLoggedIn">
    <a (click)="logout()" routerLink="/login" class="navbar-brand"
      ><strong>Logout</strong></a
    >
  </div>
</nav>
