<div class="container">
  <h1>Pokèmon catalogue</h1>
  <button type="button" id="btnPrevPage" (click)="retrieveNextPokemon(-10)">
    Previous page
  </button>
  <button type="button" id="btnNextPage" (click)="retrieveNextPokemon(10)">
    Next page
  </button>
  <p *ngIf="loading">Loading pokèmon...</p>
  <div id="pokemonContainer">
    <app-pokemon-card
      *ngFor="let pokemon of pokemonImageList"
      [pokemon]="{ name: pokemon.name, image: pokemon.image }"
    >
    </app-pokemon-card>
  </div>
</div>
